.hero-blog {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-blog:before {
  content: "";
  background: url("../image/blog-1.png") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0px 0px 0px 100px;
}
.hero-blog .content-blog{
  width: 100%;
  margin: 0 auto;
  padding-top: 160px;
  font-size: 100px;
  font-weight: bolder;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 60%;
}


@-webkit-keyframes slide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}
@-moz-keyframes slide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}
@-o-keyframes slide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}
@keyframes slide {
  0%   { transform: translate(0px,100px); }
  100% { transform: translate(0px,0px); }
}
.content-blog{
  animation-name: slide;
  animation-duration: 5s; 
  animation-fill-mode: forwards;
}