.service {
    margin: auto;
    padding: 4rem 1rem 0 1rem;
    width: 100%;
}

.service .container {
    display: flex;
    justify-content: center;
    width: 1240px;
    margin: auto;
    display: flex;
}

.service .container h2 {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    color: #450032;
    margin-bottom: 100px;
}

.service .img-col{
   width: 100%;
   height: 80vh;
   background-image: url('../image/rect.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   top: -100px;
   z-index: -1000;
   border-radius: 0px 0px 0px 100px;
}

.service .img-col2{
    width: 100%;
    height: 80vh;
    background-image: url('../image/img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -100px;
    z-index: -1000;
    border-radius: 0px 0px 0px 100px;
}

.service .img-col1{
    width: 100%;
    height: 80vh;
    background-image: url('../image/img3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -100px;
    z-index: -1000;
    border-radius: 0px 0px 0px 100px;
    font-size: 32px;
    font-weight: 500;
}

.service .img-col3{
    width: 100%;
    height: 80vh;
    background-image: url('../image/img4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -100px;
    z-index: -1000;
    border-radius: 0px 0px 0px 100px;
}

.service .img-col4{
    width: 100%;
    height: 80vh;
    background-image: url('../image/img5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -100px;
    z-index: -1000;
    border-radius: 0px 0px 0px 100px;
}

.img-col{
    position: absolute;
}
h4{
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}

.img-col p{
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 10px;
    height: 450px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    
}


.img-col2 p{
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 10px;
    height: 450px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    
}

.img-col3 p{
    display: flex;
    align-items: center;
    margin-left: 150px;
    height: 450px;
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    
}

.img-col4 p{
    display: flex;
    align-items: center;
    margin-left: 150px;
    height: 550px;
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    
}

.img-col1 p{
    display: flex;
    align-items: center;
    margin-left: 150px;
    height: 450px;
    margin-top: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    
}

.icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 150px;
    font-size: larger;
}

.icon-container .icon1{
    color: #fff;
    margin-left: 20px;
}

.icon-container .icon2{
    color: #fff;
    margin-right: 20px;
}

/* hover effect */



@media screen and (max-width:940px) {
    .service {
    margin: auto;
    padding: 4rem 1rem 0 1rem;
    width: 100%;
  }

   .service .container {
    display: flex;
    justify-content: center;
    width: 1240px;
    margin: auto;
    display: flex;
  }
    .service .container {
        width: 100%;
    }
    .service .container h2 {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
    color: #450032;
    margin-bottom: 100px;
  }

    .service .container-content{
        width: 100%;
       
    }

   .service .img-col{
    width: 100%;
    height: 80vh;
    background: url('../image/rect.png') center no-repeat cover;
    position: relative;
    top: -100px;
    z-index: -1000;
    border-radius: 0 0 0 100px;
  }

  .service .img-col2 {
    width: 100%;
    height: 80vh;
    background: url('../image/img2.jpg') center no-repeat cover;
    position: relative;
    top: -100px;
    z-index: -1000;
    border-radius: 0 0 0 100px;
  }

    .img-col p{
       text-align: center;
       display: flex;
       align-items: center;
       font-size: 20px;
       margin-right: 150px;
    }
}